# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\msb_codes\trafficmonitor_msb-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
